<div class="row">
  <div class="col-md-6">
    <h3>Day 1. June 7th </h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Welcome</td> </tr>
      <tr> <td>09:15</td>  <td>Collaboration with Git and GitHub</td> </tr>
      <tr> <td>10:15</td>  <td>Coffee break</td> </tr>
      <tr> <td>10:30</td>  <td>Collaboration with Git and GitHub</td> </tr>
      <tr> <td>11:30</td>  <td>Coffee break</td> </tr>
      <tr> <td>11:45</td>  <td>Collaboration with Git and GitHub</td> </tr>
      <tr> <td>12:30</td>  <td>Lunch</td> </tr>
      <tr> <td>13:30</td>  <td>Introduction to Continuous Integration</td> </tr>
      <tr> <td>14:30</td>  <td>Coffee break</td> </tr>
      <tr> <td>14:45</td>  <td>Introduction to Continuous Integration</td> </tr>
      <tr> <td>15:45</td>  <td>Wrap-up</td> </tr>
      <tr> <td>16:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2. June 8th </h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Welcome</td> </tr>
      <tr> <td>09:15</td>  <td>Documentation</td> </tr>
      <tr> <td>10:15</td>  <td>Coffee break</td> </tr>
      <tr> <td>11:00</td>  <td>Documentation</td> </tr>
      <tr> <td>11:30</td>  <td>Coffee break</td> </tr>
      <tr> <td>11:45</td>  <td>Introduction to Testing in python</td> </tr>
      <tr> <td>12:30</td>  <td>Lunch</td> </tr>
      <tr> <td>13:30</td>  <td>Introduction to Testing in python</td> </tr>
      <tr> <td>14:30</td>  <td>Coffee break</td> </tr>
      <tr> <td>14:45</td>  <td>Writing Modular Code</td> </tr>
      <tr> <td>15:45</td>  <td>Wrap-up</td> </tr>
      <tr> <td>16:00</td>  <td>END</td> </tr>
    </table>
  </div>

  <strong>All times in the schedule are in the CEST timezone.</strong>
</div>
