<h3>Install following software</h3>

<h4>Python and required packages</h4>
Follow <a href="https://carpentries.github.io/workshop-template/#python">Python installation instructions</a>.

<h4>Git</h4>
Follow <a href="https://coderefinery.github.io/installation/shell-and-git/">Git installation</a>
<a href="https://coderefinery.github.io/installation/shell-and-git#configuration">configure</a >
and <a href="https://coderefinery.github.io/installation/shell-and-git#how-to-verify-the-installation">verify</a> it.

<h4>GitHub</h4>
<a href="https://github.com/join">Create GitHub account.</a>
